*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --width-full: 112rem;
    --content-width:94rem;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
    --primary-color: #fff206;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.wrapper{
    margin: 0 auto;
    width: var(--width-full);
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--white-color);
    height: 6.2rem;
    width: var(--width-full);
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__logo{
    margin-left: 1rem;   
}
.header__logo-image{
    width: 100%;
}
.header__nav{
    margin-bottom: 1rem;
    margin-right: 17.5rem;
    /* display: none; */
}
.header__nav-list{
    list-style: none;
    display: flex;
}

.header__nav-item{
    padding: 0.5rem 1rem;
}

.header__nav-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    text-transform: uppercase;
}
.header__nav-item-link:hover{
    color: var(--primary-color);
}

/* banner */
.banner{
    width: 100%;
    height: 42rem;
    background-image: url(./images/slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 6.2rem;
}

.container{
    width: var(--content-width);
    margin: 4rem auto 5rem;
}
/* banner */

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__item{
    width: 25%;
    height: 18rem;
    position: relative;
}
.gallery__item:nth-child(1){
    background: url(./images/image1.png) no-repeat top ;
    background-size: cover;
}
.gallery__item:nth-child(2){
    background: url(./images/image2.png) no-repeat top;
    background-size: cover;

}
.gallery__item:nth-child(3){
    background: url(./images/image3.png) no-repeat top;
    background-size: cover;
    
}
.gallery__item:nth-child(4){
    background: url(./images/image4.png) no-repeat top;
    background-size: cover;

}
.gallery__item-link{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--black-color);
}
.gallery__item-link:hover{
    background-color: rgba(0 , 0, 0, 0.1);
}

.gallery__item-label,
.about__category-item-label{
    position: absolute;
    display: block;
    min-width: 13rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight:500;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0.03rem 0.015rem #000;
}

/* about */
.about{
}
.about__title{
    font-size: 2.6rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2rem 0;
}
.about__category{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.about__category-item{
    width: 33.33%;
    height: 23.6rem;

}
.about__category-item-link:hover{
    background-color: rgba(0 , 0, 0, 0.1);
    
}

.about__category-item-link{
    color: var(--white-color);
    display: block;
    width: 100%;
    height: 100%;
}
.about__category-item:nth-child(1){
    background-image: url(./images/nha-may.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.about__category-item:nth-child(2){
    background-image: url(./images/showroom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.about__category-item:nth-child(3){
    background-image: url(./images/gioi-thieu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* footer */
.footer{
    width: var(--width-full);
    background-color: var(--primary-color);
    min-height: 18.5rem;
}

.footer__content{
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__content-item{
    padding-top:3rem;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.333%;
}
.footer__content-item--list{
    list-style: none;
}
.list-link{
    font-size: 1.3rem;
    line-height: 2rem;  
    font-weight: 700;  
    text-decoration: none;
    color: var(--black-color);
}
.list-link:hover{
    opacity: 0.6;
}

.footer__content-item--policy,
.footer__content-item--contact{
    font-size: 1.3rem;
    font-weight: 500;
}
